<div class="message <%= user_is_messages_author ? "right" : "" %>">

  <% if message.user.avatar_url? %>
    <%= image_tag message.user.avatar_url, class: "avatar"  || default_image%>
    <%end%>
  <div class="message-content"><%= message.content %></div>
</div>
