<div class="message <%= user_is_messages_author ? "left" : "left" %>">


    <% if message.user.facebook_picture_url != nil %>
      <%= image_tag message.user.facebook_picture_url, class: "avatar"  || default_image%>
    <%end%>
    <%= message.user.first_name %>
  <div class="message-content"><%= message.content %></div>
</div>
