<div style="margin-bottom: 50px;">
  <h2>Welcome to your store</h2>

  <%=link_to "Add a new product to your store", new_store_product_path(@store), class: "btn btn-primary btn-block" %>
  <%if (params[:livecast] != nil)%>
    <%=link_to "Back to my livecasts", usermylivecasts_path, class: "btn btn-danger btn-block" %>
  <%else%>
    <%=link_to "Create a new livecast", new_livecast_path, class: "btn btn-danger btn-block" %>
  <%end%>

</div>

<%= render 'shared/store' %>

