<div style="margin-bottom: 50px;">
<h2>Welcome to your store</h2>


<%=link_to "Add a new product to your store", new_store_product_path(@store), class: "btn btn-primary" %>


<%if (params[:livecast] != nil)%>

<%=link_to "Back to my sessions", usermylivecasts_path, class: "btn btn-danger" %>

<%end%>
</div>

<%= render 'shared/store'%>

