<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dnwnxu6xb/video/upload/v1583398816/ezgif.com-video-cutter_1_rc5gwa.mp4" type="video/mp4">
  </video>
  <div class="container h-100" style="box-shadow: 2px 2px 5px gray;">
    <div class="d-flex h-100 text-center align-items-center">

      <div class="w-100 text-white">

        <h1 class="display-3"><strong>Shop friendly</strong></h1>
        <p class="lead mb-0"><strong>See the products and ask your questions </strong></p><center><h1 style="background-color:white; padding:10px;color:red; font-weight:bold; width:100px; border-radius: 5px;"><i class="fas fa-video"></i>LIVE</h1></center>

    </div>

    <div class="d-flex" style="margin-top:20px;box-shadow: 2px 2px 5px lightgray;">

     </div>



    </div>
  </div>
</header>
