<!-- app/views/payments/new.html.erb -->
<div class="container">
      <button id="pay" class="btn btn-primary" style="display:none">Pay</button>

<div style="height: 90vh">
  <h1 style="font-size: 50px; margin-top: 50px"><i class="fa fa-spinner fa-spin"></i></h1>
</div>
<script src="https://js.stripe.com/v3/"></script>

      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'

          });
        });


        window.onload=function(){
            document.getElementById("pay").click();
        };
      </script>
    </div>
  </div>
</div>

